/* General style for inputs and button */
.Select-control,
.DateInput_input,
.DateRangePicker,
.SingleDatePicker,
#update-button {
    font-size: 16px !important;
    height: 48px !important;
    width: 90% !important;
    display: block !important;
}

.DateRangePicker_picker {
    z-index: 1000 !important; /* ensures the calendar pops above other content */
}

/* Dropdown container full width */
#country-dropdown {
    width: 90%;
    font-size: 16px
}

.Select-control {
    height: 45px !important;
    /* line-height: 45px !important; */
    display: flex;
    align-items: center;
    font-size: 16px !important;
    padding: 0 10px !important;
}

/* Align the selected value text vertically */
.Select--single > .Select-control .Select-value {
    display: flex !important;
    align-items: center !important;
}

.VirtualizedSelectOption {
    font-size: 16px !important;
}

/* Date picker full width */
#date-picker {
    width: 100%;
}

.DateRangePickerInput {
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center;
    width: 100% !important;
    justify-content: space-between;
    align-items: stretch
}

.DateInput {
    flex: 1 1 45% !important;
    min-width: 0;
    margin: 0 2px;
}

.DateRangePickerInput_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 18px;
}

/* Make inputs visually larger */
.DateInput_input {
    width: 100% !important;
    font-size: 14px;
    padding: 8px 10px;
    height: auto;
    box-sizing: border-box;
}

/* Button full width, consistent style */
#update-button {
    font-size: 16px;
    height: 48px;
    background-color: #465769;
    color: white;
    border: none;
    width: 100%;
    max-width: 100%;
}

#update-button:hover {
    background-color: #0056b3;
}

.metric-value {
    font-size: clamp(14px, 2vw, 14px); /* responsive scaling */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-weight: bold;
}
